{% extends "base.html" %}
{% load staticfiles %}
{% load usertag %}
{% block headblock %}
<link href="{% static " css/groups.css" %}" rel="stylesheet">
{% endblock headblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <button type="button" class="btn btn-info btn-sm btn btn-primary btn-lg btn-block">all groups</button>
            <ul class="nav nav-pills nav-stacked">
                <li class="center-block"><a href="{% url 'Groups:GroupCreate' %}" class="center-block">create a group</a></li>
                {% if group_list %}
                {% for group in group_list %}
                <li class="{%if group.id == cur_group.id %} active {%endif%}"><a
                        href="{% url 'Groups:GroupsIndex' %}?group={{group.id}}">#{{group.name}}</a></li>
                {% endfor %}
                {% else %}
                <p>No groups are available</p>
                {% endif %}
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-info btn-sm btn btn-primary btn-lg btn-block">the details of the group</button>
            <div class="row">
                <div class="col-md-6">
                    {% if cur_group %}
                    <img src="{{ cur_group.image.url }}" height="200" class="img-thumbnail" alt="Responsive image">
                    {% endif %}
                            {% if not IsAdd %}
                            <ul class="nav nav-pills nav-stacked">
                                <li class="center-block"><a href="{% url 'Groups:GroupAdd' cur_group.id %}"
                                                            class="center-block">join the group</a></li>
                            {% else %}
                                <ul class="nav nav-pills nav-stacked">
                                    <li class="center-block"><a href="{% url 'Groups:GroupLeave' cur_group.id %}"
                                                                class="center-block">leave the group</a></li>
                            {% endif %}
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <h3><span class="label label-success">{{cur_group.tag}}</span></h3>
                        </div>
                    </div>
                    <p class="text-primary">{{cur_group.description}}</p>
                    {% if cur_group.permit %}
                    <p class="text-success">this group allow user add posts!!</p>
                    {% else %}
                    <p class="text-warning">this group doesn't allow user add posts!!</p>
                    {% endif %}
                </div>
            </div>
            {% if IsCreator %}
            <div class="row">
                <div class="col-md-6">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="center-block"><a href="{% url 'Groups:GroupDelete' cur_group.id %}"
                                                    class="center-block">delete the group</a></li>
                </div>
                <div class="col-md-6">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="center-block"><a href="{% url 'Groups:GroupModify' cur_group.id %}"
                                                    class="center-block">modify the group</a></li>
                </div>
            </div>
            {% endif %}
            <!--<button type="button" class="btn btn-success btn-sm btn btn-primary btn-lg btn-block">圈子所有动态</button>-->
            {% if posts %}
            {% for post in posts %}
            <div class="row">
                <div class="col-md-2">
                    <img src="{{post.author.avatar.url}}" class="img-thumbnail" alt="Responsive image">
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-4">
                            <p class="text-info">{{post.author.username}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-muted">{{post.posted_time.time}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 center-block">
                    <p class="bg-success center-block">{{post.text|markdownify|safe}}</p>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-info btn-sm btn btn-primary btn-lg btn-block">all users of the group</button>
            {%for u in cur_group.myuser_set.all %}
            <div class="row">
                <div class="col-md-4">
                    <img src="{{u.avatar.url}}" class="img-thumbnail" alt="Responsive image">
                </div>
                <div class="col-md-4">
                    <a href="/users/{{u.id}}">{{u.username}}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}


