{% extends "Users/base.html" %}
{% load staticfiles %}
{% block headblock %}
<link href="{% static "css/groups.css" %}" rel="stylesheet">
{% endblock headblock %}
{% block content %}
<h1>{{ group.name }}</h1>
<li><a href="{% url 'Groups:GroupModify' group.id %}">修改这个圈子</a></li>

<li>the create time is {{group.create_time}}</li>
<li>the latest update time is {{group.update_time}}</li>
<li>the group description is {{group.description}}</li>
<li>the group's tags are {{group.tag}}</li>
<li>{{group.permit}}</li>
{%for u in group.myuser_set.all %}
<li>{{u.username}}</li>
{%endfor%}
<li>permit or not ? {{group.permit}}</li>

<li><a href="{% url 'Posts:post_index' group.id %}">查看该圈子的全部动态</a></li>
<li><a href="{% url 'Posts:post_create' group.id %}">为该圈子创建一个动态</a></li>
{% endblock content %}



