{% extends "base.html" %}
{% load staticfiles %}
{% block headblock %}
<link href="{% static "css/updateform.css" %}" rel="stylesheet">
{% endblock headblock %}

{% block content %}
{% if error_message %}
<p>
    <strong>
        {{ error_message }}
    </strong>
</p>
{% endif %}

<h1 align="center">创建一个圈子</h1>

<form action="{% url 'Groups:GroupCreate'%}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-update">
        <div class="row">
                <div class="form-group-lg">
                    <label for="image">file</label>
                    <input type="file" class="form-control" id="image" name="image" placeholder="{{form.name.value}}">
                </div>
                <div class="form-group-lg">
                    <label for="name">name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="{{form.name.value}}">
                </div>
                <div class="form-group-lg">
                    <label for="description">description</label>
                    <textarea class="form-control" id="description" name="description" rows="3" cols="10"
                              placeholder="{{form.description.value}}"></textarea>
                </div>
                <div class="form-group-lg">
                    <label for="tag">tag</label>
                    <select id="tag" name="tag" class="form-control" placeholder="{{form.tag.value}}">
                        <option value="" selected="selected">---------</option>
                        <option value="发布消息">发布消息</option>
                        <option value="兴趣爱好">兴趣爱好</option>
                        <option value="社团信息">社团信息</option>
                        <option value="消息推送">消息推送</option>
                    </select>
                </div>
                <div class="form-group-lg">
                    <label for="permit">permit</label>
                    <input type="checkbox" id="permit" name="permit"
                           placeholder="{{form.permit.value}}">
                </div>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>
{% endblock content %}
