{% extends "Users/base.html" %}
{% load staticfiles %}
{% load comments %}
<link rel="stylesheet" type="text/css" href="{% static 'Posts/style.css' %}"/>
{% block content %}
<a href="{% url 'Posts:post_create' group_id %}">Create</a>
{% if post_list %}
<table class="table" align="center">
    {% for post in post_list %}
	<tr>
		<table class="table" align="left">
			<tr><p><b>{{ post.author }}</b></p></tr>
			<tr><p>{{ post.text }}</p></tr>
			<tr>
				{% get_comment_count for post as comment_count %}
				<a href="{% url 'Posts:post_update' group_id post.id %}">Update</a>
				<a href="{% url 'Posts:post_delete' group_id post.id %}">Delete</a>
				<a href="{% url 'Posts:post_comment' group_id post.id %}">Comment({{ comment_count }})</a>
			</tr>
		</table>
	</tr>
    {% endfor %}
</table>
{% else %}
<p>No posts are available.</p>
{% endif %}

{% endblock content %}