{% extends "Users/base.html" %}
{% load staticfiles %}
{% load comments %}

{% block content %}

{% block headblock %}
    <link href="{% static 'css/groups.css' %}" rel="stylesheet">
{% endblock headblock %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div id="content" class="container-fluid main">
<div class="row">
<div class="col-md-6">
<form action="{% url 'Posts:post_comment' group_id post.id %}" class="form-horizontal" role="form" method="post">
    {% csrf_token %}
    <ul class="nav nav-pills nav-stacked" align="left">
        <li><p><b>{{ post.author }}</b></p></li>
        <li><p>{{ post.text }}</p></li>
        <li>
            <p>{{ comment_count }} comments posted.</p>
            {% render_comment_list for post %}
        </li>
        {% for field in form %}
            {% if field.label_tag == "Comment" or "Name"%}
            <li>
            <div class="form-group">
                {{ field.label_tag }}{{ field }}
                {{ field.errors }}<br />
            </div>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
    <p class="submit"><input type="submit" name="submit" id="submit" class="btn btn-large btn-primary" value="评论"  /></p>
</form>
</div>
</div>
</div>
{% endblock %}