{% extends "base.html" %}
{% load staticfiles %}
{% block headblock %}
<link href="{% static "css/updateform.css" %}" rel="stylesheet">
{% endblock headblock %}
{% block content %}

<h1>Update Post</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div id="content" class="container-fluid main">
<div class="row">
<div class="col-md-6">
<form action="{% url 'Posts:post_update' group_id post_id %}" class="form-horizontal" role="form" method="post">
    {% csrf_token %}
    <div class="form-update">
    <div class="form-group-lg">
    <table class="form-table">
    <label for="post">Post</label>
    <textarea class="form-control" id="text" name="text" rows="3" cols="10" placeholder="{{form.text.value}}"></textarea>
    <p class="submit"><input type="submit" name="submit" id="submit" class="btn btn-large brn-primary" value="修改"  /></p>
    </table>
        </div>
    </div>
</form>
</div>
</div>
</div>
{% endblock content %}