{% extends "Users/base.html" %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'Posts/style.css' %}"/>
{% block content %}
<a href="{{ url 'Posts:post_create' }}">Create a new post HERE!</a>
{% if post_list %}
<table>
    {% for post in post_list %}
    	<tr>{{ post.author }}</tr> 
	    <tr>{{ post.text }}</tr>
	    <tr>
	    	{% for user in post.user_like_set.all()%}
	    		<td><a href="">{{ user.username }}</a></td>
	    	{% endfor %}
	    </tr>
	    <tr>
	    	{% for user in post.user_mentioned_set.all()%}
	    		<td><a href="">{{ user.username }}</a></td>
	    	{% endfor %}
	    </tr>
	    <tr>
	    	<td><a href="{{ url 'Posts:post_update' post.id}}">Update</a></td>
	    	<td><a href="{{ url 'Posts:post_delete' post.id}}">Delete</a></td>
	    </tr>
    {% endfor %}
</table>
{% else %}
<p>No posts are available.</p>
{% endif %}

{% endblock content %}