{% extends "Users/base.html" %}
{% load staticfiles %}
{% load comments %}
{% block headblock %}
    <link href="{% static "css/groups.css" %}" rel="stylesheet">
{% endblock headblock %}
<link rel="stylesheet" type="text/css" href="{% static 'Posts/style.css' %}"/>

{% block content %}
{% if post_list %}
<div id="content" class="container-fluid main">
<div class="row">
<div class="col-md-4">
<ul class="nav nav-pills nav-stacked" align="center">
	<li class="active">
		<a href="#" >All Posts</a>
	</li>
    {% for post in post_list %}
		<ul class="nav nav-pills nav-stacked" align="left">
			<div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{post.author}}<span class="caret"></span></a>
			<ul class="dropdown-menu">
				{% get_comment_count for post as comment_count %}
				<li><a href="{% url 'Posts:post_update' group_id post.id %}">Update</a></li>
				<li><a href="{% url 'Posts:post_delete' group_id post.id %}">Delete</a></li>
				<li><a href="{% url 'Posts:post_comment' group_id post.id %}">Comment({{ comment_count }})</a></li>
			</ul>
			<li><p>{{ post.text }}</p></li>
			</div>
		</ul>
    {% endfor %}
</ul>
</div>
</div>
</div>
{% else %}
<p>No posts are available.</p>
{% endif %}

{% endblock content %}