{% extends "base.html" %}
{% load staticfiles %}
{% load usertag %}
{% load i18n %}
{% block headblock %}
<link href="{% static "css/updateform.css" %}" rel="stylesheet">
{% endblock headblock %}
{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div id="content" class="container-fluid main">
    <form action="{% url 'Posts:post_update' post_id %}" role="form" method="post">
        {% csrf_token %}
        <div class="form-update">
            {% if form.errors and not form.non_field_errors %}
            <p class="errornote">
            {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
            </p>
            {% endif %}
            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <p class="errornote">
                {{ error }}
            </p>
            {% endfor %}
            {% endif %}
            <div class="form-group-lg">
                <label for="id_text" class="sr-only"></label>
                <textarea name="text" id="id_text" class="form-control" rows="8" placeholder="you can use markdown">{{form.text.value}}</textarea>
            </div>
        <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
</div>
{% endblock content %}