{% extends "base.html" %}
{% load staticfiles %}
{% block headblock %}
<link href="{% static "css/updateform.css" %}" rel="stylesheet">
{% endblock headblock %}

{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<h1>Create Post</h1>

<div id="content" class="container-fluid main">
<div class="row">
<div class="col-md-6">

<form action="{% url 'Posts:post_create' group_id %}" class="form-horizontal" role="form" method="post">
    {% csrf_token %}
    <div class="form-update">
    <div class="form-group-lg">
    <table class="form-table">
    <label for="post">Post</label>
    <textarea class="form-control" id="text" name="text" rows="3" cols="10" placeholder="{{form.text.value}}"></textarea>
    </table>
    <p class="submit"><input type="submit" name="submit" id="submit" class="btn btn-large btn-primary" value="创建"  /></p>
    </div>
    </div>
</form>

</div>
</div>
</div>

{% endblock content %}