/*for footer*/
html {
  height:100%;
}
body {
  padding-top: 50px;
  height:100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

.text-center {
  text-align: center;
}
/*内容紧挨着边框*/
.nav-container {
  margin-left: 0;
  margin-right: 0;
  width: auto
}

.content {
  margin-top: 1%;
  min-height: 89%;
}
.group-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.group-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.group-description {
  font-size: 20px;
  color: #999;
}


.main {
  font-size: 18px;
  line-height: 1.5;
}

.row {
  margin-left: 0px;
  margin-right: 0px;

}
/*
 * Blog posts
 */

.post-list {
  margin-bottom: 60px;
  margin-top: 10px;
}

.post-list .col-md-1{
  padding-left: 0px;
  padding-right: 0px;
  width: 36px;
}

.post-list .col-md-11{
  padding-left: 0px;
  padding-right: 0px;
}

.post-list .avatar{
  width: 100%;
  border-radius:5px;
}

.post-meta {
  margin-bottom: 0px;
  line-height: 1.0;
  color: #999;
}


.post p {
  word-break: break-all;
}

.create-post {
  position: fixed;
    bottom: 0px;
    width: 80%
}

.group-dropdown {
  margin-bottom: 10px;
}

.footer {
    width: 100%;
    position: relative;
    bottom: 0;
    text-align: center;
}