{% load staticfiles %}
{% load usertag %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
  {% block head %}

    {% block meta %}
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <meta name="robots" content="NONE,NOARCHIVE" />
    {% endblock %}

    <title>{% block title %}HIT Groups{% endblock %}</title>

    {% block style %}
      {% block bootstrap_theme %}
        <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/bootstrap.min.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/bootstrap-tweaks.css" %}"/>
      {% endblock %}

      <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/prettify.css" %}"/>
      <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/default.css" %}"/>
    {% endblock %}

  {% endblock %}
</head>

{% block body %}
<body class="{% block bodyclass %}{% endblock %}">

  <div class="wrapper">
    {% block navbar %}
      <div class="navbar navbar-static-top {% block bootstrap_navbar_variant %}navbar-inverse{% endblock %}">
        <div class="container">
          <span>
            {% block branding %}
              <a class='navbar-brand' rel="nofollow" href='http://www.django-rest-framework.org'>
                  HIT Groups <span class="version">{{ version }}</span>
              </a>
            {% endblock %}
          </span>
          <ul class="nav navbar-nav pull-right">
            {% block userlinks %}
              {% if user.is_authenticated %}
                {% optional_logout request user %}
              {% else %}
                {% optional_login request %}
              {% endif %}
            {% endblock %}
          </ul>
        </div>
      </div>
    {% endblock %}

    <div class="container">
      <!-- Content -->
      <div class="content-main">
            <div class="response-info">
              <pre class="prettyprint">
              {% for obj in objects%}
              {% for key, val in obj.items %}<b>{{ key }}:</b> <span class="lit">{{ val}}</span>
              {% endfor %}
              {% endfor %}
              </pre>
            </div>

            <script>
              var e = document.getElementsByClassName("dropdown")[0]
              e.onclick = function(){if (this.className == "dropdown") this.className="dropdowm open"; else this.className="dropdown"}
            </script>
      </div>
    </div>

</body>
{% endblock %}
</html>
