{% load staticfiles %}
<!DOCTYPE html>
<html style="height:100%">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>HIT Groups</title>
    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/groups.css" %}" rel="stylesheet">
    <style type="text/css" media="screen">
        body {
          padding-top: 50px;
        }
        .defaulth1 {
          text-align: center;
        }

        .footer {
            width: 100%;
            position: relative;
            bottom: 0;
            text-align: center;
        }


    </style>
    {% block headblock %}

    {% endblock headblock %}
</head>

<body style="height:100%">
    <div style="margin-bottom: 10px">
    <nav class="navbar navbar-inverse navbar-fixed-top" >
        <div class="container" style="margin-left: 0; margin-right: 0; width: auto">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">HIT Groups</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/groups">Groups</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if not user.is_authenticated %}
                        <li><a href="/signup">Sign up</a></li>
                        <li><a href="/login">Log in</a></li>
                    {% else %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.username}} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href= "/users/{{user.id}}">Profile</a></li>
                                <li><a href="/logout">Log out</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    </div>
    <div style="min-height: 90%">
    {% block content %}
        <div id="content" class="container">
            <h1 class="defaulth1">圣·马家沟男子技校欢迎您</h1>
        </div>
    {% endblock content %}
    </div>
    <footer class="footer">
      <p>HIT SE project <a href="https://github.com/viciousstar/SE-Project-HIT">HIT Groups</a> by <a href="#">HITer</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
</body>

</html>
