{% extends "base.html" %}
{% load staticfiles %}
{% block headblock %}
{% endblock headblock %}
{% block content %}
<div id="content" class="container-fluid main">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a href="{% url 'root' %}" >All Posts</a>
                </li>
                {% for group in groups %}
                <li class="{%if group.id == cur_group.id %} active {%endif%}"><a href="{% url 'root' %}?group={{group.id}}"># {{group.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-10">
            {% if cur_group %}
            <div class="row">
                <div class="dropdown group-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{cur_group.name}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'Groups:GroupDetail' cur_group.id %}">Detial</a></li>
                    </ul>
                </div>
            </div>
            {% if cur_group.id != None %}
            <div class="row">
                <form action="{% url 'Posts:post_create' cur_group.id %}" method="post">
                    {% csrf_token %}
                    <div class="inline-post">
                            <label for="id_text" class="sr-only"></label>
                            <textarea name="text" id="id_text" class="form-control" rows="2"></textarea>
                            <div>
                            <button type="submit" class="btn btn-primary">New Post</button>
                            </div>
                    </div>
                </form>
            </div>
            {% endif %}
            {% endif %}
            <div class="row">
                <div class="post-list">
                    {% for post in posts %}
                    <div class="row">
                        <div class="col-md-1">
                            <img src="{{ post.author.avatar.url }}" class="avatar" />
                        </div>
                        <div class="col-md-11">
                            <div class="row">
                                <p class="post-meta"><a href="{% url 'Users:UserUpdate' post.author.id%}">{{post.author.username}}</a></p>
                                <p class="post-meta">{{post.posted_time}}</p>
                            </div>
                            <div class="row">
                                <div class="post">
                                    <p>{{post.text}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}