{% extends "Users/base.html" %}
{% load staticfiles %}
{% block headblock %}
<link href="{% static "css/updateform.css" %}" rel="stylesheet">
{% endblock headblock %}
{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="form-update">
        <div class="form-group-lg">
            <label for="username">Username</label>
            <input type="email" class="form-control" id="username" name="username" placeholder="{{user.username}}">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>
{% endblock content %}