{% extends "Users/login.html" %}
{% load staticfiles %}
{% block form %}
 <form class="form-update" action="{% url 'signup' %}" method="POST">
    {% csrf_token %}
    <h2 class="text-center">注册吧</h2>
    <div class="form-group-lg">
    <label for="{{form.username.id_for_label}}">Username</label>
    <input type="text" id="{{form.username.id_for_input}}" name="username" class="form-control" placeholder="" required="" autofocus="">
    </div>
    <div class="form-group-lg">
    <label for="{{form.email.id_for_label}}">Email</label>
    <input type="email" id="{{form.email.id_for_input}}" name="email" class="form-control" placeholder="" required="">
    </div>
    <div class="form-group-lg">
    <label for="{{form.password.id_for_label}}">Password</label>
    <input type="password" id="{{form.password.id_for_input}}" name="password" class="form-control" placeholder="" required="">
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
  </form>
{% endblock form %}