{% extends "Users/login.html" %}
{% load staticfiles %}
{% load usertag %}
{% load i18n %}
{% block form %}
 <form class="form-update" action="{% url 'signup' %}" method="POST">
    {% csrf_token %}
    <h2 class="text-center">HIT Groups</h2>
    {% if form.errors and not form.non_field_errors %}
    <p class="errornote">
    {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
    {% endif %}

    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p class="errornote">
        {{ error }}
    </p>
    {% endfor %}
    {% endif %}
    <div class="form-group-lg">
    {{ form.username.errors }}
    {{ form.username.label_tag }}
    {{ form.username|add_attributes:'form-control,required:'}}
    </div>
    <div class="form-group-lg">
    {{ form.email.errors }}
    {{ form.email.label_tag }}
    {{ form.email|add_attributes:'form-control,required:'}}
    </div>
    <div class="form-group-lg">
    {{ form.password1.errors }}
    {{ form.password1.label_tag }}
    {{ form.password1|add_attributes:'form-control,required:'}}
    </div>
    <div class="form-group-lg">
    {{ form.password2.errors }}
    {{ form.password2.label_tag }}
    {{ form.password2|add_attributes:'form-control,required:'}}
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
  </form>
{% endblock form %}